AUTH_GRANT_TYPE=
AUTH_CLIENT_ID=
AUTH_CLIENT_SECRET=
AUTH_SCOPE=
AUTH_URL_PREFIX=https://accounts.seguros.vitta.com.br/auth/realms/careers/protocol/openid-connect
AUTH_TOKEN_URL=/token/
AUTH_ISS=https://accounts.seguros.vitta.com.br/auth/realms/careers